.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-fluid {
    background: #f7eb0e;
    height: 35px;
    padding-bottom: 15px;
}

.sub-text {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    padding-left: 50px;
    padding-top: 50px;
}

.total-points {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    padding-left: 70px;
    padding-top: 40px;
}

.earned-points {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    padding-left: 70px;
    padding-top: 40px;
}

.percentage {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    padding-left: 70px;
    padding-top: 40px;
}

.nonsense {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    padding-left: 70px;
    padding-top: 40px;
}

.tp-input {
    padding-left: 60px;
    padding-top: 20px;
}

.ep-input {
    padding-left: 60px;
    padding-top: 20px;
}

.percent {
    font-size: 30px;
    font-weight: bold;
    padding-left: 70px;
    padding-top: 30px;
}
